<aside class="aside">
  <a href="/">
    <!-- If you want to use your picture instead,
         you can give the image the `aside-avatar` class -->
    <img class="" src="/img/yun_stamp_trans.png" alt="<%= name %> avatar">
  </a>
  <a class="aside-hamburger" href="#top"></a>
  <div class="aside-target">
    <a href="/">
      <h1 class="aside-title"><%= name %></h1>
    </a>
    <p class="aside-description"><%= title %>, <%= description %></p>
    <% include nav %>
  </div>
</aside>
