<aside class="aside">
  <a href="/">
    <!-- If you want to use your picture instead,
         you can give the image the `aside-avatar` class -->
    <img class="" src="/img/yun_stamp_trans.png" alt="<%= name %> avatar">
  </a>
  <a class="aside-hamburger" href="#top"></a>
  <div class="aside-target">
    <a href="/">
      <h1 class="aside-title"><%= title %></h1>
    </a>
    <p class="aside-description">
      <%= description %>
      <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fhttps%3A%2F%2Fwww.yunspace.com%2Fblog%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
    </p>
    <% include nav %>
  </div>
</aside>
