<footer class="footer">
    <a href="#top">
        <img class="footer-logo" src="/img/yun_stamp_trans.png" width="100" alt="<%= name %> stamp">
    </a>
    <p><small>Powered by <a href="http://harpjs.com">Harp</a> <a href="http://www.docker.com/">Docker</a> containers.
    <br/>Running on <a href="https://www.tutum.co/">Tutum Cloud</a> with <a href="http://azure.microsoft.com/en-us/services/virtual-machines/">Azure VM</a>.</small></p>
</footer>
