<footer class="footer">
    <a href="#top">
        <img class="footer-logo" src="/img/yun_stamp_trans.png" width="100" alt="<%= name %> stamp">
    </a>
    <p><small>Powered by <a href="http://harpjs.com">Harp</a> running in <a href="https://github.com/yunspace/docker-alphine-harp">Docker</a> containers.
    <br/>Orchestrated by <a href="https://www.tutum.co/">Tutum Cloud</a> on <a href="http://azure.microsoft.com/en-us/services/virtual-machines/">Azure VM</a> cluster.</small></p>
    <p>
      <small><a href="https://www.yunspace.com">YunSpace.com</a> is Copyright &copy; 2015 Yun Zhi Lin, <a href="https://www.yunspace.com/about">Creative Commons License Details</a></small>
    </p>
</footer>
